.radio__inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--theme-default-main);
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.903);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  
  .radio__inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio__inputs .radio input {
    display: none;
  }
  
  .radio__inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgb(0, 0, 0);
    transition: all .15s ease-in-out;
  }
  
  .radio__inputs .radio input:checked + .name {
    background-color: var(--theme-default-accent);
    font-weight: 600;
  }