:root {
  --bg-color: black;
  --text-color: black;
  --bg--accent: orange;

  --font-size-header: 26px;
  --font-size-subHeader: 18px;
  --font-size-main: 16px;

  --width-max: 1200px;
  
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;

  --font-bolt: 600;

  --transition: .4s;

  --them-default-header: #cccc46;
  --them-default-bgImage: url(../static/bg.jpg);

}
body {
  margin: 0;
  padding: 0;
  background-color:var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-main);
  background-image: var(--them-default-bgImage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

img {
  display: block;
}

.header__text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  color: var(--them-default-header);
  transition: color var(--transition);
}

::-webkit-scrollbar {
  width: 0;
}