:root {
  --bg-color: black;
  --text-color: black;
  --bg--accent: orange;

  --font-size-header: 26px;
  --font-size-subHeader: 18px;
  --font-size-main: 16px;

  --width-max: 1200px;
  
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;

  --font-bolt: 600;

  --transition: .4s;

  --box-shadow-black: 
      0 16px 24px 2px rgba(0, 0, 0, 0.7),
      0 6px 30px 5px rgba(0, 0, 0, 0.411),
      0 8px 10px -5px rgba(0, 0, 0, 0.261);
  
  /* THEMES */
  --theme-light-navBorder: #36bae6;
  --theme-dark-navBorder: #b734d2;
  --theme-inert-navBorder: #cccc46;
  --theme-default-navBorder: var(--theme-light-navBorder);

  --theme-light-nav: #36bae6;
  --theme-dark-nav: #b734d2;
  --theme-inert-nav: #cccc46;
  --theme-default-nav: var(--theme-light-nav);

  --theme-light-header: #36bae6;
  --theme-dark-header: #b734d2;
  --theme-inert-header: #cccc46;
  --theme-default-header: var(--theme-light-header);

  --theme-light-bgImage: url(../static/bg.jpg);
  --theme-dark-bgImage: url(../static/bg2.jpg);
  --theme-inert-bgImage: url(../static/bg3.jpg);
  --theme-default-bgImage: var(--theme-light-bgImage);

}

body {
  margin: 0;
  padding: 0;
  background-color:var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-main);
  background-image: var(--theme-default-bgImage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

img {
  display: block;
}

.header__text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  color: var(--theme-default-header);
  transition: color var(--transition);
}

::-webkit-scrollbar {
  width: 0;
}