:root {
  --bg-color: black;
  --text-color: black;
  --bg--accent: orange;
  --font-size-header: 26px;

}
body {
  margin: 0;
  padding: 0;
  background-color:var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: white;
}