.wrapper {
    margin-left: var(--spacing-large);
    padding: var(--spacing-medium) 0;
}
.list__container {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list__item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    color: white;
}
.item__episode {
    min-width: 90px;
    padding: 5px;
    border-radius: 3px;
    background-color: var(--bg--accent);
}
.item__colon {
    width: 20px;
    font-weight: var(--font-bolt);
    background-color: black;
    text-align: center;
}
.item__title {
    background-color: black;
    letter-spacing: 1.2px;
}

@media screen and (max-width: 1230px) {
    .wrapper {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
}