.container {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-large);
}

.list__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__container a {
    display: block;
    margin: 0 10px;
    padding: 7px 10px;
    min-width: 70px;
    border: 2px solid transparent;
    border-radius: 3px;
    color: var(--theme-default-nav);
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: var(--font-bolt);
    transition: var(--transition);
}

.list__container :global(a.active) {
    border: 2px solid var(--theme-default-navBorder);
    border-radius: 3px;
}

.container__logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.logo {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}