.wrapper {
    width: 300px;
    padding: var(--spacing-medium);
    margin-left: var(--spacing-large);
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 5px;
    color: white;
}
.list__container {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.list__item {
    padding: 5px;
    margin-bottom: 7px;
}
.item__title {
    text-decoration: underline;
    margin-right: 10px;
}

@media screen and (max-width: 700px) {
    .wrapper {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
}